.headerBlock {
position: absolute;
width: 100%;
height: 82px;
left: 0px;
top: 0px;

background: #000000;
}

.company-logo {

position: absolute;
width: 48px;
height: 48px;
left: 74px;
top: 16px;
}
.search {
    position: absolute;
width: 600px;
height: 46px;
left: 565px;
top: 12px;
}
.Boosty.electronics {
    position: absolute;
width: 337px;
height: 33px;
left: 147px;
top: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;
}
.profile {
position: absolute;
width: 60px;
height: 53px;
left: 1378px;
top: 9px;

background: #000000;
}
.company-name {
    position: absolute;
width: 337px;
height: 33px;
left: 147px;
top: 1px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;

}
.hero-content {
    width: 20%;
    border-right: 2px solid #000000;
    height: 996px;
}
.product-block {
    display: inline-block;
    width: 80%;
}
.menu-img {
    position: absolute;
    width: 35px;
    height: 26px;
    left: 15px;
    top: 90px;
}
.menu-list {
position: absolute;
width: 172px;
height: 245px;
left: 19px;
top: 104px;
color: black;
text-emphasis: none;
}
li{
list-style: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: black;
text-emphasis: none;
}
.popular-products {
    position: absolute;
width: 420px;
height: 48px;
left: 646px;
top: 113px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;


}
.product-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-item-1 {
position: absolute;
width: 243px;
height: 206px;
left: 403px;
top: 226px;

background: #1D1D1D;
border-radius: 20px;
}
.product-1-img {
width: 134px;
height: 157px;
top: 240px;
margin-left: 23%;
margin-right: 25%;
}
.product-cost {
    color: white;
    margin-left: 33%;
    margin-right: 40%;
    width: 150px;
    height: 5px;
    margin-top: 0px;
}
.buy-btn {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #2844c0;
    color: white;
    border-radius: 6px;
    border: none;
    
}
.product-item-2 {
position: absolute;
width: 243px;
height: 206px;
left: 719px;
top: 226px;

background: #1D1D1D;
border-radius: 20px;
}
.product-2-img {
    width: 134px;
    height: 157px;
    top: 240px;
    margin-left: 23%;
    margin-right: 25%; 
}
.product-item-3 {
    position: absolute;
width: 243px;
height: 206px;
left: 1040px;
top: 226px;

background: #1D1D1D;
border-radius: 20px;
}
.product-3-img {
    width: 134px;
    height: 157px;
    top: 240px;
    margin-left: 23%;
    margin-right: 25%;    
}
.product-item-4 {
    position: absolute;
    width: 254px;
    height: 206px;
    left: 403px;
    top: 514px;
    

background: #1D1D1D;
border-radius: 20px;
}
.product-4-img {
    width: 134px;
    height: 157px;
    top: 240px;
    margin-left: 23%;
    margin-right: 25%;    
}
.product-item-5 {
    position: absolute;
    width: 243px;
    height: 206px;
    left: 719px;
    top: 514px;
    

background: #1D1D1D;
border-radius: 20px;
}
.product-5-img {
    width: 134px;
    height: 157px;
    top: 240px;
    margin-left: 23%;
    margin-right: 25%;    
}
.product-item-6 {
    position: absolute;
    width: 243px;
    height: 206px;
    left: 1040px;
    top: 514px;
    
background: #1D1D1D;
border-radius: 20px;
}
.product-6-img {
    width: 134px;
    height: 157px;
    top: 240px;
    margin-left: 23%;
    margin-right: 25%;    
}